<!-- Default value -->
<% name ||= "Demo-Action" %>
<!-- End default value -->

<div class="container">
    <div class="row my-3">
        <div class="col border border-muted rounded mx-auto py-3">
            <%= form_for @article, html: {class: "nifty_form"} do |f| %>
                <legend><%= name %> Article</legend>
                <div class="form-group row">
                    <label for="article_title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <%= f.text_field :title, class:"form-control", :autofocus => true%>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="article_cover" class="col-sm-2 col-form-label">Cover page</label>
                    <div class="col-sm-10">
                        <%= f.file_field :cover, class:"form-control-file"%>
                    </div>
                </div>

                <div class="form-group">
                    <label for="article_categories">Categories</label>
                    <br>
                    <div class="border rounded p-1 bg-light">
                        <% @categories.each do |category| %>
                            <div class="form-group form-check m-0">
                                <%= check_box_tag "categories[]", category.id , false, class:"form-check-input", id: "category_#{category.id}" %>
                                <label class="form-check-label" for=<%= "category_#{category.id}" %>><%= category.name %></label>
                            </div>
                        <% end %>
                    </div>
                    
                </div>

                <div class="form-group row">
                    <label for="article_title" class="col-sm-2 col-form-label">Body</label>
                    <div class="col-sm-10">
                        <%= f.text_area :body, class:"form-control", size: "60x6" %>
                    </div>
                </div>
                <%= f.submit "#{name}", class:"btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>

<script>
    <% @article.errors.full_messages.each do |error| %>
        alertify.error('* <%= error %>');
    <% end %>
</script>