<% content_for :title do %>
  Sign in
<% end %>

<div class="row text-center p-5">
  <div class="col-md-4 mx-auto border border-muted rounded p-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
        <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-2 font-weight-normal">Please sign in</h1>
        <%= f.label "Email address", class:"sr-only", for: "user_email" %>
        <%= f.email_field :email, class:"form-control", autofocus: true, required: true, autocomplete: "email", placeholder:"Email address" %>
        
        <%= f.label :password, class:"sr-only" %>
        <%= f.password_field :password, class:"form-control", autocomplete: "current-password", placeholder:"Password", required: true %>

        <% if devise_mapping.rememberable? %>
          <div class="checkbox mb-3">
            <label>
              <%= f.check_box :remember_me, type: "checkbox" %>
              <%= f.label :remember_me %>
            </label>
          </div>
        <% end %>

        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
        <%= render "devise/shared/links" %>
        <p class="mt-3 mb-0 text-muted">&copy; 2020</p>
      </form>
    <% end %>
  </div>
</div>

