<% content_for :title do %>
  <%= @category.name %> Articles
<% end %>

<div class="container-fluid">
  <div class="row m-4">
    <div class="col">

      <h2 class="d-inline ml-4" style="color: <%= @category.color %>;">Articles of <%= @category.name %></h2>

      <% if user_signed_in? && current_user.is_admin?%>
          <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-info ml-3" %>
      <% end %>
    </div>
  </div>

  <div class="row m-4">
    <%= render @articles %>
  </div>
</div>